<header class="site-header" role="banner">

  {% assign custom_url = site.url | append: site.baseurl %}
  {% assign full_base_url = custom_url %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">The Cambridge Design</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
    data-target="#navbarNav" aria-controls="navbarsExampleDefault"
     aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>				
    </button> 
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about/">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mobile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/mobile/hybrid-app-development/">Hybrid App Development</a>
            <a class="dropdown-item" href="/mobile/ios-app-development/">iOS App Development</a>
            <a class="dropdown-item" href="/mobile/android-app-development/">Android App Development</a>
            <a class="dropdown-item" href="/mobile/azure-aws-deployment/">Azure/AWS Deployment</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Web
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/websites/">Website Design</a>
            <a class="dropdown-item" href="/websites/static-websites/">Static Website Development</a>
            <a class="dropdown-item" href="/websites/wordpress-customization/">WordPress Customization</a>
            <a class="dropdown-item" href="/websites/asp-net-web-development/">ASP.net Web Development</a>
            <a class="dropdown-item" href="/websites/azure-aws-deployment/">Azure/AWS Deployment</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Graphics
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/graphics/digital-graphic-design/">Digital Graphic Design</a>
            <a class="dropdown-item" href="/graphics/illustration/">Illustration</a>
            <a class="dropdown-item" href="/graphics/adobe-photoshop/">Adobe Photoshop</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Marketing
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/technical-marketing/google-analytics/">Google Analytics</a>
            <a class="dropdown-item" href="/technical-marketing/python-scripting/">Python Scripting</a>
            <a class="dropdown-item" href="/technical-marketing/lead-generation/">Lead Generation</a>
            <a class="dropdown-item" href="/technical-marketing/manual-task-automation/">Manual Task Automation</a>
            <a class="dropdown-item" href="/technical-marketing/social-media-services/">Social Media Services</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

</header>
